{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <a href="{% url 'home' %}">
    <img class="mr-3" height="45px" src="{% static 'img/mattmyoung_logo.svg' %}" />
  </a>
  <button class="navbar-toggler" type="button" data-trigger="#main_nav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="main_nav">
    <div class="offcanvas-header mt-3">
      <button class="btn btn-outline-danger btn-close float-right"> &times Close </button>
      <h5 class="py-2 text-white">Matthew Young</h5>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item"> <a class="nav-link" href="{% url 'home' %}">Home</a></li>
      {% if "portfolio" in request.path %}
        <li class="nav-item active"> <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
      {% else %}
        <li class="nav-item"> <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
      {% endif %}
      {% if request.path == "/contact/" %}
        <li class="nav-item active"> <a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
      {% else %}
        <li class="nav-item"> <a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
      {% endif %}
    </ul>
  </div> <!-- navbar-collapse.// -->
</nav>

<script>
  $("[data-trigger]").on("click", function(){
    var trigger_id = $(this).attr('data-trigger');
    $(trigger_id).toggleClass("show");
    $('body').toggleClass("offcanvas-active");
  });

  // close button
  $(".btn-close").click(function(e){
    $(".navbar-collapse").removeClass("show");
    $("body").removeClass("offcanvas-active");
  });
</script>
