{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="btn btn-primary mt-5 ml-5" href="../">Back</a>
        <h1 class="display-4">Plotly</h1>
        <h2 class="display-6 text-center">Description</h2>
        <p class="text-center">Plotly is a python library for data analytics and visualization.</p>
        <p class="text-center">Below is a simple bar graph integrated within a Django framework.</p>
        {% if graph %}
            {{ graph|safe }}
        {% else %}
            <p>No graph was provided.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
