{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="display-4 mb-5">Portfolio</h1>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-sm-1 mb-3">
              <div class="card" style="width: 18rem;">
                <a href="https://yttags.com/" target="_blank"><img class="card-img-top" src="{% static 'img/yttags.png' %}" alt="Card image cap"></a>
                <div class="card-body">
                  <h2>YT Tags</h2>
                  <p class="card-text">Data analytics using YouTube's API</p>
                  <a class="btn btn-primary mt-3" href="https://yttags.com/" target="_blank">View Site</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-1 mb-3">
              <div class="card" style="width: 18rem;">
                <a href="{% url 'pts' %}"><img class="card-img-top" src="{% static 'img/pts.png' %}" alt="Card image cap"></a>
                <div class="card-body">
                  <h2>Pts</h2>
                  <p class="card-text">JavaScript library for visualization</p>
                  <a class="btn btn-primary mt-3" href="{% url 'pts' %}">View Example</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-1 mb-3">
              <div class="card" style="width: 18rem;">
                <a href="{% url 'plotly' %}"><img class="card-img-top" src="{% static 'img/plotly.png' %}" alt="Card image cap"></a>
                <div class="card-body">
                  <h2>Plotly</h2>
                  <p class="card-text">Python library for data analytics</p>
                  <a class="btn btn-primary mt-3" href="{% url 'plotly' %}">View Example</a>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
